name: Beta publish

on:
  release:
    types: 
        - prereleased
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        registry-url: https://registry.npmjs.org

    - name: npm install, update version.ts, run tsc
      run: |
        npm ci
        npm run update-version-definition:no-commit
        npm run tsc

    - name: Config git user
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"

    - name: Commit changes and push
      run: |
        git commit -m "Update version.ts" -a
        git push

    - name: npm publish
      run: npm publish --access public --tag beta
      env:
        CI: true
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
